body {
    padding-top: 5rem;
  }
  
  h1 {
    color: rgb(27, 26, 26);
  }
  
  h2 {
    color: #eee;
  }
  
  h3 {
    color: #ddd;
  }
  
  h4 {
    color: #ccc;
  }
  
  h5 {
    color: #bbb;
  }
  
  h6 {
    color: #aaa;
  }
  
  p {
    color: rgb(54, 52, 52);
    font-size: 20px;
  }

  /* unvisited link */
a:link, a:active, a:visited {
  color: rgb(0, 4, 255);
  font-size: 25px;
}


/* mouse over link */
a:hover {
  color: rgb(214, 29, 54);
}

/* selected link */
a:active {
  color: blue;
}

.jumbotron {
 
  padding: 14px;
  
}