{% extends "base.html" %}
{% set active_page = "Application" %}
{% block content %}

<div style='margin-top: 30px; text-align: center;'>
  <h1>Application</h1>
  <div id='text-input-div'>
  </div>
 </div>
 <body>

<p>Data Cleaning</p>
  <iframe src="static/images/model_decisiontree.pdf" width="1000px" height="1000px">
  </iframe>
  <br>
  <p>Model</p>
  <iframe src="static/images/Loan Eligibility_Acc vs Rec_Model_test.pdf" width="1000px" height="1000px">
  </iframe>
<br>
 </body>


{% endblock %}
