{% extends "base.html" %}
{% set active_page = "Background" %}
{% block content %}

<div style='margin-top: 50px; text-align: center;'>
  <h1>Background</h1>
<br>
</div>
<div class="container">
  <div>
  
    <p> Our team used publicly available loan application data from Lending Club and applied machine learning techniques learned in class to train a categorial model to predict loan approval or denial based on specified criteria.

      We analyzed data from 2018 and, through exploratory data analysis, determined what of the provided information was best to use with our work. We built Machine learning models (Supervised) based on the two data sets we have.
      
      First, we looked at the combination of the data for approved and denied application. A prediction model was built to determine which variables are most important in understanding how an application gets approved or denied. 
      The two most important factors were determined to be risk score (credit score) and employment history. We also trained the dataset to predict a loan approval or denial.
      The best method to use was the Random Forest Classifier when compared to Stochastic Gradient Descent.
      
      Second, the approved dataset was used to determine what factors determine how low, or high, an applicant's interest rates will be once they are approved. 
      
       </p>
      
      
  </div>
  <div class="container">
    
      <div class="col-md-12 jumbotron text-center">
        
        <img src="static/images/LendingClubLogo.png" alt="lending club" class="center">   
      </div>
    </div>
    <div class="container">
      <div>
        
        <a href="https://www.kaggle.com/wordsforthewise/lending-club" target="_blank">Data Source</a> <br>
        <a href="https://www.kaggle.com/wordsforthewise/eda-with-python" target="_blank">Exploratory Data Analysis Guide</a>
        
          
          
      </div>

{% endblock %}
